.signin{
    display: flex;
    position: absolute;
    min-height: 100%;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    background-color: #fafafa;
}

.signin-logo{
    width: 200px;
    height: 50px;
    margin: 30px 30px 55px 30px;
}

.signin-img{
    width: 100%;
    height: auto;
}

.container{
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 100px;
}

.signin-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 425px;
}

.signin-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 335px;
    height: auto;
    background-color: #fff;
    box-shadow: 3px 3px 4px 5px #ccc;
}

.signin-form{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-top: 45px;
    justify-content: flex-start;
}

.input-container{
    display: flex;
    justify-content: center;
    margin: 0 30px 10px 30px
}

.input-field{
    display: flex;
    align-items: center;
    width: 268px;
    height: 38px;
    border: solid 1px rgb(219, 219, 219);
    border-radius: 6px;
}

.signin-input{
    border: none;
    height: 28px;
    width: 260px;
    font-size: 15px;
    font-family: ink free;
    font-weight: 600;
}

.signin-input:focus{
    outline: none;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin: 5px 30px 20px 30px;
}

.login-btn{
    font-family: ink free;
    width: 268px;
    height: 35px;
    font-size: 18px;
    font-weight: 800;
    background-color: rgb(25, 151, 235);
    color: #fff;
    border: none;
    border-radius: 6px;
}

.login-btn:active{
    background-color: rgb(85, 187, 255);
}
.login-btn:focus{
    outline: none;
}

.signup-link-container{
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 3px 3px 4px 5px #ccc ;
    margin-top: 15px;
}

.signup-link{
    font-weight: 400;
    font-size: 18px;
}

.link{
    color: rgb(0, 127, 231);
    font-weight: 700;
    text-decoration: none;
}