.App {
  display: flex;
  position: absolute;
  min-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.main{
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.page-container{
  display: flex ;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 55px auto;
  height: auto;
  width: 100%;
  padding: 40px 5px;
}
@media only screen and (min-width: 1300px){
  .page-container{
      padding: 40px 250px;
  }
}
