body{
  background-color: #FAFAFA;
  height: 100vh;
}


.App {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.main{
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding-top: 55px;
}

