
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    height: 55px;
    background-color: #fff;
    border-bottom: 1px solid #776f6f;
    z-index: 1;
}

.navcontent{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 975px;
    width: 100%;
    padding: 26px 20px;
    height: 54px;
    
}

.nav-btns-container{
    display: flex;
    flex-direction: row;
    flex: 1 0 0%;
    margin-left: 10px;
    align-items: center;
    justify-content: flex-end;
}

.nav-btn{
    display: flex;
    width: 32px;
    height: auto;
    justify-content: center;
    margin-left: 18px;
}

.navicon{
    width: 25px;
    height: auto;
}


.logoimg{
    padding-top: 13px;
    width: 150px;
     height: auto;
}

.logo{
    display: flex;
    flex: 1 99999 0%;
    justify-content: flex-start;
}

.search{
    display: flex;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #262626;
    height: 25px;
    font-size: 16px;
    text-align: center;
}

@media only screen and (max-width: 640px){


    .margin-left{
        margin-left: 25px;
    }

    .search{
        display: none;
    }

    .logoimg{
        padding-top: 13px;
        width: 100px;
         height: auto;
    }
}