.page{
    display: flex;
    margin: 0 auto 30px;
    position: relative;
    margin-top: 55px;
    height: 1000px;
    margin-left: 144px;
    padding: 40px;
}

.userpic{
    border: solid 5px;
    border-radius: 100px;
    background: url(./kitty.jpg) no-repeat center ;
    background-size: cover;
    width: 200px;
    height: 200px;
}