.head{
    display: flex;
    width: auto;
    height: 220px;
    margin-bottom: 15px;
}

.userprofile-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 935px;
    min-width: 500px;
    overflow: hidden;
    margin: 0px auto 30px;
    padding: 30px 0px 0;
  }

.profile-img-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-right: 50px;
}

.profile-img{
    border-radius: 100px;
    max-width: 100%;
    height: auto;
    left: 0;
    top:0;
}

.profile-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: auto;
    margin-bottom: 15px;
}


.username{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    height: 30px;
    margin: 0;
}

.btncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 50px;
}

.editbtn{
    height: 30px;
    width: 100px;
    border: 1px solid ;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 530px){
    .editbtn{
        width: 200px;
    }
}

.marginleft{
    margin-left: 10px;
}

.section{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

.profile-headline{
    font-size: 18px;
    margin-bottom:  4px;
    margin-top: 0;
}

.userprofile-posts-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    border-top: solid 1px gray;
    padding-top: 5px;
}
.userprofile-post-section{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 20px;
}

@media only screen and (max-width: 735px){
    .userprofile-post-section{
        margin-bottom: 1px;
    }
}

.userprofile-post-frame{
    flex: 1 0 0%;
    position: relative;
    max-height: auto;
    margin-right: 28px;
}


@media only screen and (max-width: 735px){
    .userprofile-post-frame{
        margin-right: 3px;
    }
}
.userprofile-post-img{
    object-fit: cover;
    max-width: 293px;
}

.post-overlay{
    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 98%;
    position: absolute;
    top: 0;
    transition: all 200ms ease;
}

@media only screen and (max-width: 735px){
    .post-overlay{
        height: 97%;
    }
}

.post-overlay:hover{
    background-color: rgba(0,0,0,0.4);
}

.display-none{
    display: none;
}

.userprofile-post-frame:hover .post-overlay{
    display: flex;
}

.overlay-section{
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.overlay-container{
    display: flex;
    width: 50%;
    height: 50%;

}

.overlay-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 735px){
    .overlay-icon{
        margin: 10px;
    }
}



