.main{
    display: flex;
    position: absolute;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.profile-container{
    display: flex ;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 55px auto;
    height: auto;
    width: 100%;
    padding: 40px 5px;
}
@media only screen and (min-width: 1300px){
    .profile-container{
        padding: 40px 250px;
    }
}

.head{
    display: flex;
    width:auto;
    height: 220px;
    margin-bottom: 15px;
}


.profile-img-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin-right: 50px;
}

.profile-img{
    border-radius: 100px;
    max-width: 100%;
    height: auto;
    left: 0;
    top:0;
}

.profile-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: auto;
    margin-bottom: 15px;
}


.username{
    font-size: 30px;
    text-align: center;
    justify-content: center;
    height: 30px;
    margin: 0;
}

.btncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 50px;
}

.editbtn{
    height: 30px;
    width: 100px;
    border: 1px solid ;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 530px){
    .editbtn{
        width: 200px;
    }
}

.marginleft{
    margin-left: 10px;
}

.section{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}
#pt{
    font-size: 18px;
    margin-bottom:  4px;
    margin-top: 0;
}
.posts-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-top: solid 1px gray;
}

.post-frame{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin: 5px;
    justify-self: center;
}

.post{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}